body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #EAEAEA;
}

